/* p {
  color: red;
  text-align: center;
}
.center {
  text-align: center;
  color: aqua;
} */

/* * is the universal selector (*) selects all html elements */

/* * {
  color: red;
  text-align: center;
} */

h1,
h2 {
  text-align: center;
  color: maroon;
  margin-left: 20px;
  margin-top: 50px;
}

p {
  text-align: center;
  color: brown;
  border: 2px solid black;
  font-size: larger;
}

body {
  background-color: aqua;
}
